body {
    background-color: #f5f5f5;
    font-family: sans-serif;
}

#home-header {
    text-align: center;
}

#home-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 15%);
    column-gap: 10px;

    margin-left: 35%;
}